<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>URL Shortner</title>
		<style>
			body {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background: rgb(241, 240, 240);
				font-family: sans-serif;
			}
		</style>
	</head>
	<body>
		<h1>URL Shortner</h1>
		<div class="container">
			<p>URL {{url}}</p>
			<p>has been shorten into</p>
			<a href="http://localhost:8008{{shortenURL}}">http://localhost:8008{{shortenURL}}</a>
		</div>
	</body>
</html>
